<div class="center hero-unit">
    <h1>Hello World! </h1>
    <p>
		<%= link_to 'Follow me on Twitter',  "http://twitter.com/shubzinator" %>
    </p>

    <p> 
		<%= link_to 'Sign up now!',  "http://twitter.com" , class: "btn btn-large btn-primary" %>
	</p>
</div>